*{
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: rgb(8, 100, 36);
}

table th, td {
    padding: 8px;
    
  }

  table {
    table-layout: fixed ;
    border-collapse: collapse;
    border: 2px solid black
 }

td  {
  width: 15px;
  font-size: 11px;
  height: 15px;
  max-width: 20px;
  max-height: 20px;
  color:#444;
  background: rgb(109, 140, 156);
  cursor:pointer;
  vertical-align:middle;
  text-align: center;
}

.gameOver{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  font-size: 80px;
  text-shadow: 0 0 3px #FF0000, 0 0 5px red;
}

.display{
  display: block;
}

.elCenter{
  /* text-align: center; */
  position: absolute;
  top: 2%;
  left: 26%;
}

body {
  background-image: url(../img/pngwave.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom:  5px solid black;
  height: 100vh;
  background-color: rgb(8, 100, 36, 0.3);
  ;
} 
